extends ../layout

block content
    h1 Book: #{book.title}
    form(action=`/books/${book.id}`, method='post')  

        include ../error.pug        
        
        p
            label(for='title') Title
            input#title(type='text', value=`${book.title}`, name='title')
        p
            label(for='author') Author
            input#author(type='text', value=`${book.author}` name='author')
        p
            label(for='genre') Genre
            input#genre(type='text', value=`${book.genre}` name='genre')
        p
            label(for='first_published') First Published
            input#first_published(type='text', value=`${book.first_published}` name='first_published')
        p
            input(type='submit', value='Update')

    include history.pug