h2 Loan History
table
    thead
        tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
    tbody
        each loan in loans
            tr
            td
                a(href=`/books/details/${loan.Book.id}`) #{loan.Book.title}
            td
                a(href=`/patrons/details/${loan.Patron.id}`) #{loan.Patron.first_name + ' ' + loan.Patron.last_name}
            td #{loan.loaned_on}
            td #{loan.return_by}
            td
            td
                if(loan.returned_on === null)
                    a.button(href=`/loans/return/${loan.Book.id}`) Return Book
