extends ../layout

block content
  h1 #{title}
  p
    a.button(href='/loans/new') Create New Loan

  include ../includes/navigation-filter.pug

  table
    thead
      tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
    tbody
      each loan, index in loans
        tr
          td
            a(href=`/books/details/${loans[index].dataValues.Book.dataValues.id}`) #{loans[index].dataValues.Book.dataValues.title}
          td
            a(href=`/patrons/details/${loans[index].dataValues.Patron.dataValues.id}`) #{loans[index].dataValues.Patron.dataValues.first_name} #{loans[index].dataValues.Patron.dataValues.last_name}

          td #{loans[index].dataValues.loaned_on}
          td #{loans[index].dataValues.return_by}
          td #{loans[index].dataValues.returned_on}
          td
            if(loans[index].dataValues.returned_on === null) 
              a.button(href=`/loans/return/${loans[index].dataValues.Book.dataValues.id}`) Return Book
