extends ../layout

block content
    h1 #{title}
    p
        strong Book Title: 
        | #{loans[0].dataValues.Book.title}
    p
        strong Loaned By: 
        | #{loans[0].dataValues.Patron.first_name + ' ' + loans[0].dataValues.Patron.last_name}
    p
        strong Loaned On: 
        | #{loans[0].dataValues.loaned_on}
    p
        strong Return By: 
        | #{loans[0].dataValues.return_by}

    form(action=`/loans/${loans[0].dataValues.Book.id}` method='post')
        include ../error.pug
        p
            label(for='returned_on') Returned on:
            input#returned_on(type='text', value=`${today}`)
        p
            input(type='submit', value='Return Book')

