extends ../layout

block content
  h1 Patron: #{patron.first_name + ' ' + patron.last_name}
  form(action=`/patrons/${patron.id}` method='post')

    include ../error.pug
    
    p
      label(for='first_name') First Name
      input#first_name(type='text', value=`${patron.first_name}`, name='first_name')
    p
      label(for='last_name') Last Name
      input#last_name(type='text', value=`${patron.last_name}` name='last_name')
    p
      label(for='address')  Address
      input#address(type='text', value=`${patron.address}` name='address')
    p
      label(for='email') Email
      input#email(type='text', value=`${patron.email}` name='email')
    p
      label(for='library_id') Library ID
      input#library_id(type='text', value=`${patron.library_id}` name='library_id')
    p
      label(for='zip_code') Zip Code
      input#zip_code(type='text', value=`${patron.zip_code}` name='zip_code')
    p
      input(type='submit', value='Update')
      
  include history.pug